#outer {
    width:100%;
    align-items: center;
}

.inner
{
    display: inline-block;
}

button {
	padding:5px 15px; 
    margin-left: 50px;
	background:#3e47ae; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}

h5 {
	color: #fff;
}

.spanColor {
	color: #fff;
}