#outer {
    width:100%;
    align-items: center;
}

.inner
{
    display: inline-block;
	font-size: 30px;
}

button {
	padding:10px 15px; 
    margin-left: 50px;
	font-size: 20px;
	background:#3e47ae; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}

h5 {
	color: #fff;
}

.spanColor {
	color: #fff;
}

.buttons {
	background-color: red;
	color: white;
	font-weight: bold;
}

.buttons:hover {
	background-color: white;
	color: red;
	font-weight: bold;
}

.button-container {
	align-items: center;
	margin-bottom: 20px;
}